[yourblog.com]
feed_url=https://www.yourblog.com/index.php/feed/
num_last_tweets=4
max_days_in_rotation=5
intervals_between_tweets_in_seconds=60
attach_featured_images=true
dry_run=false
expirable_categories=markets:86400
oauth2_bearer_token=

[yourOtherBlog.com]
feed_url=https://www.yourotherblog.com/index.php/feed/
num_last_tweets=2
max_days_in_rotation=2
intervals_between_tweets_in_seconds=300
attach_featured_images=false
dry_run=true
oauth2_bearer_token=

[my_text_file_based_rotation_feed]
feed_path=/home/user/feeds/rotation_file_1.txt
max_days_in_rotation=-1
intervals_between_tweets_in_seconds=12600
repetition_interval_in_seconds=43200
lock_tcp_port=60001
dry_run=false
shuffle=true
oauth2_bearer_token=
